body {
    font-family: 'Palatino Linotype', serif;
    background-color: #b3b3b3;
    color: #222;
    text-align: center;
}
nav ul {
    background-color: #333;
    padding: 15px 0;
}
nav li {
    display: inline;
    margin: 0 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
section {
    padding: 40px 20px;
}
.btn {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}
